<div class="container">
	<h1><%- name %></h1>
	<p>BootstrApp is an Electron starter kit preconfigured to compile LESS stylesheets and .ejs/JST templates, along with a few basic libraries to aid rapid development like; lodash, jQuery and Twitter Bootstrap (integrated with your LESS stylesheets). You can easily add other build tasks as JavaScript functions to <code>./lib/bootstrapp.js</code>.</p>
</div>
